@page
@{
    ViewData["Title"] = "Employee";
    ViewData["IsEmployeeMenuActive"] = "active";
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    Carrer
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">
                    Education
                </div>
            </div>
        </div>
    </div>
</div>

