@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["IsDashboardMenuActive"] = "active";
}

<div class="jumbotron">
    <h1>Hello, @Model.Username</h1>
    <p>Welcome to Hera Web Apps. Click menu to look around.</p>
    <a asp-page="Auth/SignIn" asp-page-handler="SignOut" class="btn btn-primary btn-lg" role="button">Logout</a>
</div>