@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["IsDashboardMenuActive"] = "active";
}

<div class="jumbotron">
    <h1>Hello, @Model.Username</h1>
    <p>Welcome to Hera Web Apps. Click menu to look around.</p>
    <a asp-page="Auth/SignIn" asp-page-handler="SignOut" class="btn btn-primary btn-lg" role="button">Logout</a>
</div>

<div class="jumbotron">
    <div class="list-group">
        <a href="javascript:;" class="list-group-item">Shift: Normal WorkingDay 1</a>
        <a href="javascript:;" class="list-group-item">Mon, Tue, Wed, Thurs, Fri @@ 8:00 AM - 6:00 AM</a>
    </div>

    <button id="clockin-button" type="button" class="btn btn-lg btn-primary btn-block">Clock In</button>
    <button id="clockout-button" type="button" class="btn btn-lg btn-primary btn-block">Clock Out</button>
</div>